# SubX 环境变量配置示例

# [必填] 视频挂载目录，程序会扫描此目录下的视频和字幕文件
# 本地开发建议使用相对路径或绝对路径，Docker 部署时通常映射为 /media 或 /data
VIDEO_DIR=./videos

# [可选] SQLite 数据库存储路径
# 默认值: ./db/subx.db
DB_PATH=./demo_db/subx.db


# [可选] win 需要显示配置FFmpeg 路径
FFMPEG_PATH=C:\ffmpeg\bin\ffmpeg.exe
FFPROBE_PATH=C:\ffmpeg\bin\ffprobe.exe

